create a smurf
<p><%=@file_name%></p>
<img src="/images/<%=@file_name%>">
<form action="/male_avatars" method="post">

<!-- hash male = {male: {eyes: "blue", accessory: "none"} -->
<label for="eyes">Eyes</label>
<select id="eyes" name="eyes">
  <option value="blue" >blue eyes</option>
  <option value="brown">brown</option>
  <option value="black">black</option>
  <option value="green">green</option>
</select>

<label for="accessory">Accessory</label>
<select id="accessory" name="accessory">
  <option value="paint" >paint</option>
  <option value="pencil">pencil</option>
  <option value="feather">feather</option>
  <option value="none">none</option>
</select>

<input type="submit" value="Try it">
<!-- stylesheet_link_tag("application")
# => <link href="/assets/application.css?body=1" media="screen" rel="stylesheet" /> -->
</form>


<form action="/save_avatar" method="post">

<input type="hidden" name="eyes" value="<%=@eyes%>">
<input type="hidden" name="accessory" value="<%=@accessory%>">
<input type="hidden" name="male_avatar_name" value="<%=@file_name%>">

<input type="submit" value="Save this avatar">

</form>

