create a smurf
<p><%=@file_name%></p>

<object data="/images/<%=@file_name%>">
    <img src="/images/black_none.png" />
</object>


<form action="/male_avatars" method="post">

<!-- hash params {eyes: "blue", accessory: "none"} -->
<label for="eyes">Eyes</label>
<select id="eyes" name="eyes">
  <option value="blue" >blue eyes</option>
  <option value="brown">brown</option>
  <option value="black">black</option>
  <option value="green">green</option>
</select>

<label for="accessory">Accessory</label>
<select id="accessory" name="accessory">
  <option value="paint" >paint</option>
  <option value="pencil">pencil</option>
  <option value="feather">feather</option>
  <option value="none">none</option>
</select>

<input class="button" type="submit" value="Try it">

</form>


<form action="/save_avatar" method="post">

<input type="hidden" name="eyes" value="<%=@eyes%>">
<input type="hidden" name="accessory" value="<%=@accessory%>">
<input type="hidden" name="male_avatar_name" value="<%=@file_name%>">

<input class="button" type="submit" value="Save this avatar">

</form>

